* text
*.png binary
*.snk binary

*.verified.* text eol=lf working-tree-encoding=UTF-8

.editorconfig text eol=lf working-tree-encoding=UTF-8
Shared.sln.DotSettings text eol=lf working-tree-encoding=UTF-8